@import url('https://fonts.cdnfonts.com/css/proxima-nova-condensed');
body {
    margin: 0px;
}

/* --------------------------------------------------------------------------- */
/* --------------------------------------------------------------------------- */

.header {
    width: 100%;
    height: 100px;
    padding: 0px 5% 0px 5%;
    background: rgb(39,38,64);
    background: linear-gradient(180deg, rgba(39,38,64,1) 0%, rgba(33,47,69,1) 100%);
    box-sizing: border-box;
    display: flex;
    align-items: center;
    font-family: 'Montserrat';
}

/* ------------------------------ */

.header__logo {
    user-select: none; 
    font-weight: bold;
    color: whitesmoke;
    cursor: default;
    font-size: 40px;
    margin: 0px;
}


.header__links {
    width: 500px;
    margin: auto;
}

.header__links_list {
    width: 100%;
    height: 100%;
    text-decoration: none;
    display: flex;
    justify-content: space-between;
    list-style: none;
}

.header__links_item {
    font-size: 20px;
    font-weight: 400;
    color: whitesmoke;
    text-decoration: none;
    transition: 0.2s;
}

.header__links_item:hover {
    color: chocolate;
    transition: 0.1s;
}

/* ------------------------------ */

.header__icon_box {
    width: 100px;
    height: 100%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: end;
}

.header__icon {
    user-select: none; 
    width: 40px;
    height: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 9px 6px;
    border: 1px solid rgb(215, 215, 215, 0.4);
    border-radius: 3px;
    cursor: pointer;
    transition: 0.2s;
}

.header__icon:hover {
    border: 1px solid rgba(0, 160, 165, 0.4);
}

.header__icon_line {
    width: 100%;
    height: 4px;
    background-color: whitesmoke;
    border-radius: 3px;
}

.header__icon.active {
    justify-content: center;
    align-items: center;
    position: relative;
}

.header__icon.active :nth-child(2) {
    display: none;
}

.header__icon.active :nth-child(1) {
    width: 90%;
    rotate: -45deg;
    position: absolute;
}

.header__icon.active :nth-child(3) {
    width: 90%;
    rotate: 45deg;
    position: absolute;
}

.header__icon:hover .header__icon_line {
    background-color: rgba(0, 160, 165);
    transition: 0.1s;
}

/* ------------------------------ */

.header__menu.model {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    position: absolute;
    top: 100px;
    z-index: 99;
    display: flex;
    justify-content: end;
    transform: translateX(200vw);
    transition: 0.2s;
    visibility: hidden;
}

.header__menu.model.active {
    transform: translateX(0vw);
    right: 0px;
    visibility: visible;
}
body.active_menu {
    overflow-y: hidden;
}

.header__menu {
    width: 350px;
    height: 500px;
    padding-top: 30px;
    box-sizing: border-box;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    top: 0px;
    right: 0px;
}

.header__menu_line {
    width: 100%;
    height: 1px;
    background-color: black;
    margin: 20px 0px;
}

.header__menu_logo {
    user-select: none; 
    font-weight: bold;
    color: black;
    cursor: default;
    font-size: 40px;
    margin: 20px 0px 0px 0px;
}

.header__menu_list {
    list-style: none;
    width: 100%;
    height: fit-content;
    padding: 0px;
    margin: 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header__menu_list li {
    width: 100%;
}

.header__menu_list_item {
    display: block;
    width: 100%;
    text-align: center;
    padding: 10px 0px;
    text-decoration: none;
    font-size: 16px;
    letter-spacing: 0.2em;
    color: black;
    transition: 0.15s;
}

.header__menu_list_item:hover {
    background-color: black;
    color: whitesmoke;
}

.header__menu_title {
    margin: 0px;
    padding: 0px 0px 20px 0px;
    font-size: 40px;
    font-weight: 200;
    color: black;
    transition: 0.2s;
}

/* --------------------------------------------------------------------------- */
/* --------------------------------------------------------------------------- */

.hero {
    height: 700px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    background-image: none;
    background-image: url(https://images6.alphacoders.com/495/495067.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.hero__bg_text {
    position: absolute;
    user-select: none; 
    margin-left: 0.16em;
    text-transform: uppercase;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke-width: 4px;
    -webkit-text-stroke-color: whitesmoke;
    font-family: 'Proxima Nova Condensed';
    letter-spacing: 0.2em;
    font-size: 30em;
    font-weight: 900;
    opacity: 0.5;
}

/* ------------------------------ */

.hero__box {
    position: absolute;
    left: 5%;
    width: fit-content;
    height: 100%;
}

.hero__box_title_1 {
    font-family: 'Proxima Nova Condensed';
    color: black;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: whitesmoke;
    line-height: 1;
    margin: 160px 0px 0px 0px;
    letter-spacing: 0em;
    font-size: 50px;
    font-weight: 800;
    text-transform: uppercase;
    opacity: 0.9;
}

.hero__box_title_2 {
    font-family: 'Proxima Nova Condensed';
    color: black;
    -webkit-text-stroke-width: 3px;
    -webkit-text-stroke-color: whitesmoke;
    line-height: 1;
    margin: 0px 0px 20px 0px;
    letter-spacing: 0em;
    font-size: 130px;
    font-weight: 800;
    text-transform: uppercase;
    opacity: 0.9;
}

.hero__box_text {
    font-family: 'Roboto';
    color: black;
    margin: 0px 0px 0px 0px;
    -webkit-text-stroke-width: 0.8px;
    -webkit-text-stroke-color: whitesmoke;
    letter-spacing: 0.1em;
    font-size: 48px;
    font-weight: 600;
}

.hero__bubble_1 {
    position: absolute;
    right: 7%;
    top: 10%;
    width: 340px;
    height: 280px;
}

.hero__bubble_2 {
    position: absolute;
    right: 14%;
    bottom: 10%;
    width: 340px;
    height: 280px;
}

.hero__bubble_1_div1,.hero__bubble_2_div1 {
    position: relative;
    width: 220px;
    height: 180px;
    padding: 0px 40px 20px 40px;
    z-index: 10;
    transition: 0.2s;
}

.hero__bubble_1_div2,.hero__bubble_2_div2 {
    opacity: 0;
    position: absolute;
    top: -20px;
    left: -100px;
    width: 400px;
    height: 240px;
    background-color: #3d95ae;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 40px;
    display: flex;
    flex-direction: column;
    padding-top: 40px;
    padding-left: 20px;
    box-sizing: border-box;
    transition: 0.3s;
    z-index: 9;
}

.hero__bubble_1_div_title,.hero__bubble_2_div_title {
    font-family: 'Proxima Nova Condensed';
    color: black;
    line-height: 1;
    margin: 0px 0px 20px 0px;
    letter-spacing: 0em;
    font-size: 32px;
    font-weight: 800;
    text-transform: uppercase;
    opacity: 0.9;
}

.hero__bubble_1_div_text,.hero__bubble_2_div_text {
    font-family: 'Roboto';
    color: black;
    margin: 0px 0px 0px 0px;
    letter-spacing: 0.1em;
    font-size: 16px;
    font-weight: 400;
}

.hero__bubble_1_div2 {
    background-color: #853dae;
}

.hero__bubble_1_div1:hover {
    opacity: 0;
}

.hero__bubble_2_div1:hover {
    opacity: 0;
}

.hero__bubble_1_div1:hover + .hero__bubble_1_div2 {
    top: 0px;
    opacity: 1;
}

.hero__bubble_2_div1:hover + .hero__bubble_2_div2 {
    top: 0px;
    opacity: 1;
}

.hero__bubble_1_div1_text,.hero__bubble_2_div1_text {
    position: absolute;
    top: 30%;
    right: 40px;
    font-family: 'Proxima Nova Condensed';
    color: black;
    line-height: 1;
    letter-spacing: 0em;
    font-size: 24px;
    font-weight: 800;
    text-transform: uppercase;
}

.hero__bubble_1_div1_img,.hero__bubble_2_div1_img {
    user-select: none; 
    position: absolute;
    width: 220px;
    height: 180px;
}

/* --------------------------------------------------------------------------- */
/* --------------------------------------------------------------------------- */

.main {
    height: 600px;
    width: 100%;
    padding: 0px 5% 0px 0px;
    box-sizing: border-box;
    display: flex;
    background: rgb(215,215,215);
    background: linear-gradient(90deg, rgb(215, 215, 215) 0%, rgba(255,255,255,1) 50%, rgb(215, 215, 215) 100%);
}

/* ------------------------------ */

.main__box {
    width: 50%;
    height: 100%;
    padding: 40px 5% 0px 5%;
    box-sizing: border-box;
}

.main__box_1,.main__box_2,.main__box_3,.main__box_4,.main__box_5,.main__box_6 {
    width: 577px;
    height: 560px;
    position: relative;
}

.main__box_n_title {
    font-family: 'Montserrat';
    color: black;
    margin: 0px 0px 0px 0px;
    letter-spacing: 0.1em;
    font-size: 60px;
    font-weight: 900;
}

.main__box_n_sub_title {
    font-family: 'Montserrat';
    color: black;
    margin: 0px 0px 30px 0px;
    letter-spacing: 0.1em;
    font-size: 40px;
    font-weight: 800;
}

.main__box_n_text {
    width: 500px;
    font-family: 'Roboto';
    color: black;
    margin: 0px 0px 30px 0px;
    letter-spacing: 0.1em;
    font-size: 20px;
    font-weight: 400;
}

.main__box_n_link {
    font-family: 'Montserrat';
    color: rgba(0, 0, 0, 0.6);
    margin: 0px 0px 0px 0px;
    letter-spacing: 0.1em;
    font-size: 16px;
    font-weight: 400;
    text-decoration: none;
    position: absolute;
    bottom: 100px;
    right: 0px;
    transition: 0.2s;
}

.main__box_n_link:hover {
    color: rgba(0, 160, 165, 0.8);
    transition: 0.2s;
}

.main__box_n_bg_img {
    width: 400;
    height: 200;
    rotate: -20deg;
    position: absolute;
    right: 20px;
    top: 100px;
}

/* ------------------------------ */

.main__carousel {
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.main__carousel_scene {
    border: 1px solid #CCC;
    border-radius: 2px;
    position: relative;
    width: 290px;
    height: 190px;
    perspective: 1000px;
}

.main__carousel_btns {
    display: flex;
    flex-direction: column;
}

.main__carousel_btns_box {
    user-select: none; 
    position: relative;
    margin-bottom: 30px;
    width: 120px;
}

.main__carousel_btns_box .previous-button {
    width: 25px;
    height: 25px;
    position: absolute;
    left: 0px;
    padding: 7px;
    cursor: pointer;
    border: 1px solid rgba(0, 0, 0, 0.4);
    border-radius: 3px;
}

.main__carousel_btns_box .next-button {
    width: 25px;
    height: 25px;
    position: absolute;
    right: 0px;
    padding: 7px;
    cursor: pointer;
    border: 1px solid rgba(0, 0, 0, 0.4);
    border-radius: 3px;
}

.main__carousel_btns_text {
    user-select: none; 
    margin-top: 20px;
    font-family: 'Montserrat';
    letter-spacing: 0.4em;
    opacity: 0.4;
}

.carousel {
    user-select: none; 
    width: 100%;
    height: 100%;
    position: absolute;
    transform: translateZ(-288px);
    transform-style: preserve-3d;
    transition: transform 0.9s;
}

.carousel__cell {
    font-family: 'Montserrat';
    position: absolute;
    width: 270px;
    height: 170px;
    left: 10px;
    top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    line-height: 116px;
    font-size: 80px;
    font-weight: bold;
    color: whitesmoke;
    text-align: center;
    background: rgb(20,69,82);
    background: linear-gradient(90deg, rgba(20,69,82,0.7) 0%, rgba(33,47,69,0.7) 30%, rgba(62,31,71,0.7) 70%, rgba(39,38,64,0.7) 100%)
}
.carousel__cell:nth-child(1) { transform: rotateY(0deg) translateZ(268px); }
.carousel__cell:nth-child(2) { transform: rotateY(60deg) translateZ(268px); }
.carousel__cell:nth-child(3) { transform: rotateY(120deg) translateZ(268px); }
.carousel__cell:nth-child(4) { transform: rotateY(180deg) translateZ(268px); }
.carousel__cell:nth-child(5) { transform: rotateY(240deg) translateZ(268px); }
.carousel__cell:nth-child(6) { transform: rotateY(300deg) translateZ(268px); }


/* --------------------------------------------------------------------------- */
/* --------------------------------------------------------------------------- */

.company {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.company__renault,.company__dodge {
    width: 100%;
    height: 500px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    background-color: white;
}

.company__chevrolet,.company__subaru {
    width: 100%;
    height: 500px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    background-color: whitesmoke;
}

.company__bg_text.r {
    left: 5%;
    position: absolute;
}

.company__bg_text.c {
    right: 5%;
    position: absolute;
}

.company__bg_text.d {
    left: 5%;
    position: absolute;
}

.company__bg_text.s {
    right: 5%;
    position: absolute;
}

.company__bg_text_r,.company__bg_text_c,.company__bg_text_d,.company__bg_text_s {
    user-select: none; 
    text-transform: uppercase;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke-width: 3px;
    -webkit-text-stroke-color: transparent;
    font-family: 'Proxima Nova Condensed';
    margin: 0px;
    letter-spacing: 0.0em;
    font-size: 8em;
    font-weight: 900;
    opacity: 0.8;
}

.company__bg_text_r {
    -webkit-text-stroke-color: rgb(215, 215, 215);
    letter-spacing: 0.25em;
}
.company__bg_text_c {
    -webkit-text-stroke-color: #CCC;
    letter-spacing: 0.1em;
}
.company__bg_text_d {
    -webkit-text-stroke-color: rgb(215, 215, 215);
    letter-spacing: 0.5em;
}
.company__bg_text_s {
    -webkit-text-stroke-color: #CCC;
    letter-spacing: 0.35em;
}

.company__bg_img_r {
    -webkit-user-drag: none;
    -webkit-user-select: none;
    right: 5%;
    position: absolute;
    width: 550px;
    height: 350px;
    -webkit-transform: scale(-1, 1);
    opacity: 0.5;
}

.company__bg_img_c {
    -webkit-user-drag: none;
    -webkit-user-select: none;
    left: 5%;
    position: absolute;
    width: 550px;
    height: 320px;
    -webkit-transform: scale(-1, 1);
    opacity: 0.5;
}

.company__bg_img_d {
    -webkit-user-drag: none;
    -webkit-user-select: none;
    right: 5%;
    position: absolute;
    width: 550px;
    height: 350px;
    opacity: 0.5;
}

.company__bg_img_s {
    -webkit-user-drag: none;
    -webkit-user-select: none;
    left: 5%;
    position: absolute;
    width: 550px;
    height: 260px;
    opacity: 0.5;
}

/* --------------------------------------------------------------------------- */
/* --------------------------------------------------------------------------- */

.cars {
    user-select: none;
    height: 340px;
    position: relative;
    padding: 0px 7%;
    box-sizing: border-box;
    padding-top: 50px;
    overflow-x: hidden;
}

.cars__item {
    opacity: 0.5;
    text-align: center;
    transition: 0.4s;
}

.cars__item.slick-center {
    opacity: 1;
}

.cars__item_img {
    -webkit-user-drag: none;
    -webkit-user-select: none;
    width: 340px;
    height: 220px;
}

.cars .slick-track {
    overflow: hidden;
    display: flex;
}

.cars .slick-arrow {
    top: 50%;
    margin: -17.5px 0px 0px 0px;
    z-index: 10;
    position: absolute;
    width: 35px;
    height: 35px;
    cursor: pointer;
    border: none;
    font-size: 0;
}

.cars .slick-arrow.slick-prev {
    left: 5%;
    background: url("https://cdn-icons-png.flaticon.com/512/1/1960.png") 0 0 / 100% no-repeat;
    rotate: -180deg;

}

.cars .slick-arrow.slick-next {
    right: 5%;
    background: url("https://cdn-icons-png.flaticon.com/512/1/1960.png") 0 0 / 100% no-repeat;
}

.cars .slick-dots {
    display: flex;
    align-items: center;
    justify-content: center;
}

.cars .slick-dots li {
    width: 10px;
    height: 10px;
    list-style: none;
    margin: 0px 10px;
    user-select: none;
}

.cars .slick-dots button {
    font-size: 0px;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    padding: 0px;
    margin: 0px;
    background-color: black;
    cursor: pointer;
    margin: 0px 5px;
    border: none;
    transition: 0.4s;
}

.cars .slick-dots li.slick-active button {
    background-color: transparent;
    border: 1px solid black;
}

/* --------------------------------------------------------------------------- */
/* --------------------------------------------------------------------------- */

.form {
    width: 100%;
    height: 500px;
    padding: 0px 0px 0px 0px;
    box-sizing: border-box;
    display: flex;
}

.form {
    background: linear-gradient(270deg, #144552, #212f45, #3e1f47, #272640);
    background-size: 800% 800%;

    -webkit-animation: AnimationName 7s ease infinite;
    -moz-animation: AnimationName 7s ease infinite;
    animation: AnimationName 7s ease infinite;
}

@-webkit-keyframes AnimationName {
    0%{background-position:90% 0%}
    50%{background-position:11% 100%}
    100%{background-position:90% 0%}
}
@-moz-keyframes AnimationName {
    0%{background-position:90% 0%}
    50%{background-position:11% 100%}
    100%{background-position:90% 0%}
}
@keyframes AnimationName {
    0%{background-position:90% 0%}
    50%{background-position:11% 100%}
    100%{background-position:90% 0%}
}

/* ------------------------------ */

.form__box {
    width: 50%;
    height: 100%;
    padding: 40px 5% 0px 5%;
    box-sizing: border-box;
}

.form__box_title {
    font-family: 'Montserrat';
    color: whitesmoke;
    margin: 0px 0px 30px 0px;
    letter-spacing: 0.4em;
    font-size: 48px;
    font-weight: 200;
}

.form__box_sub_title {
    font-family: 'Roboto';
    color: whitesmoke;
    margin: 0px;
    letter-spacing: 0.2em;
    width: 24em;
    font-size: 20px;
    font-weight: 200;
    opacity: 0.8;
}

.form__box_input {
    user-select: none; 
    padding-top: 50px;
    width: 100%;
}

.form__box_input_box {
    width: 100%;
    margin-bottom: 80px;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: repeat(2,1fr);
    row-gap: 30px;
}

.form__box_input_first_name,.form__box_input_second_name,.form__box_input_phone,.form__box_input_select {
    font-family: 'Montserrat';
    font-size: 18px;
    width: 180px;
    border-radius: 5px;
    border: 0px;
    background: rgba(255, 255, 255, 0.8);
}

.form__box_input_select:hover {
    cursor: pointer;
}

.form__box_input_submit {
    font-family: 'Montserrat';
    font-size: 28px;
    width: 340px;
    border-radius: 5px;
    border: 0px;
}

.form__box_input_submit {
    width: 300px;
    color: #CCC;
    border: 3px solid #195769;
    background-color: rgba(0, 0, 0, 0.1);
    background-image: linear-gradient(30deg, #195769 80%, transparent 50%);
    background-size: 500px;
    background-repeat: no-repeat;
    background-position: 0%;
    -webkit-transition: 0.4s ease-in-out;
    transition: 0.4s ease-in-out;
}
.form__box_input_submit:hover {
    background-position: 300%;
    border-color: #307a8e;
    color: #307a8e;
    cursor: pointer;
}

/* ------------------------------ */

.form__slider{
    width: 50%;
    height: 100%;
    padding: 40px 5%;
    box-sizing: border-box;
    background-color: black;
    background: rgba(0, 0, 0, 0.4);
    position: relative;
    min-width: 0;
}

.form__slider .slick-list {
    height: 100%;
}

.form__slider .slick-track {
    height: 100%;
    overflow: hidden;
    display: flex;
}

.form__slider_item {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 0;
}

.form__slider_item_logo {
    user-select: none;
    font-family: 'Proxima Nova Condensed';
    color: whitesmoke;
    line-height: 1;
    letter-spacing: 0em;
    font-size: 140px;
    font-weight: 800;
    text-transform: uppercase;
    margin: 0px;
    text-align: center;
}

.form__slider .slick-dots {
    width: 100%;
    padding: 0px;
    margin: 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    left: 0px;
    bottom: 30px;
}

.form__slider .slick-dots li {
    list-style: none;
}

.form__slider .slick-dots button {
    font-size: 0px;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    padding: 0px;
    background-color: whitesmoke;
    cursor: pointer;
    margin: 0px 5px;
    border: none;
    transition: 0.2s;
}

.form__slider .slick-dots li.slick-active button {
    background-color: transparent;
    border: 1px solid whitesmoke;
}

/* --------------------------------------------------------------------------- */
/* --------------------------------------------------------------------------- */

.footer {
    width: 100%;
    height: 100px;
    padding: 0px 5% 0px 5%;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    font-family: 'Montserrat';
    position: relative;
}

/* ------------------------------ */

.footer__logo {
    user-select: none; 
    font-weight: bold;
    width: 20%;
    cursor: default;
    font-size: 40px;
    margin: 0px;
}

.footer__url {
    width: 70%;
    position: absolute;
    right: 5%;
}

.footer__url_list {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    padding: 0px;
    list-style: none;
}

.footer__url_list_item {
    font-size: 20px;
    font-weight: 400;
    text-decoration: none;
    transition: 0.2s;
}

.footer__url_list_item:hover {
    color: chocolate;
    transition: 0.1s;
}

.footer__logo_line {
    display: none;
}

@media screen and (max-width: 391px) {
    body {
        margin: 0px;
    }
    
    /* --------------------------------------------------------------------------- */
    /* --------------------------------------------------------------------------- */
    
    .header {
        width: 100%;
        height: 100px;
        padding: 0px 5% 0px 5%;
        background: rgb(39,38,64);
        background: linear-gradient(180deg, rgba(39,38,64,1) 0%, rgba(33,47,69,1) 100%);
        box-sizing: border-box;
        display: flex;
        align-items: center;
        font-family: 'Montserrat';
    }
    
    /* ------------------------------ */
    
    .header__logo {
        user-select: none; 
        font-weight: bold;
        color: whitesmoke;
        cursor: default;
        font-size: 40px;
        margin: 0px;
    }
    
    
    .header__links {
        display: none;
    }
    
    /* ------------------------------ */
    
    .header__icon_box {
        width: 100px;
        height: 100%;
        position: relative;
        display: flex;
        align-items: center;
        justify-content: end;
        margin: auto;
        margin-right: 0%;
    }
    
    .header__icon {
        user-select: none; 
        width: 40px;
        height: 30px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding: 9px 6px;
        border: 1px solid rgb(215, 215, 215, 0.4);
        border-radius: 3px;
        cursor: pointer;
        transition: 0.2s;     
    }
    
    .header__icon:hover {
        border: 1px solid rgb(215, 215, 215, 0.4);
    }
    
    .header__icon_line {
        width: 100%;
        height: 4px;
        background-color: whitesmoke;
        border-radius: 3px;
    }
    
    .header__icon.active {
        justify-content: center;
        align-items: center;
        position: relative;
    }
    
    .header__icon.active :nth-child(2) {
        display: none;
    }
    
    .header__icon.active :nth-child(1) {
        width: 90%;
        rotate: -45deg;
        position: absolute;
    }
    
    .header__icon.active :nth-child(3) {
        width: 90%;
        rotate: 45deg;
        position: absolute;
    }

    
    .header__icon:hover .header__icon_line {
        background-color: whitesmoke;
    }

    /* ------------------------------ */
    
    .header__menu.model {
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.4);
        position: absolute;
        top: 100px;
        z-index: 99;
        display: flex;
        justify-content: end;
        transform: translateX(200vw);
        transition: 0.2s;
    }
    
    .header__menu.model.active {
        transform: translateX(0vw);
        right: 0px;
    }
    body.active_menu {
        overflow-y: hidden;
    }
    
    .header__menu {
        width: 100%;
        height: 500px;
        padding-top: 30px;
        box-sizing: border-box;
        background-color: white;
        display: flex;
        flex-direction: column;
        align-items: center;
        position: absolute;
        top: 0px;
        right: 0px;
    }
    
    .header__menu_line {
        width: 100%;
        height: 1px;
        background-color: black;
        margin: 20px 0px;
    }
    
    .header__menu_logo {
        user-select: none; 
        font-weight: bold;
        color: black;
        cursor: default;
        font-size: 40px;
        margin: 20px 0px 0px 0px;
    }
    
    .header__menu_list {
        list-style: none;
        width: 100%;
        height: fit-content;
        padding: 0px;
        margin: 0px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
    .header__menu_list li {
        width: 100%;
    }
    
    .header__menu_list_item {
        display: block;
        width: 100%;
        text-align: center;
        padding: 10px 0px;
        text-decoration: none;
        font-size: 16px;
        letter-spacing: 0.2em;
        color: black;
        transition: 0.15s;
    }
    
    .header__menu_list_item:hover {
        background-color: black;
        color: whitesmoke;
    }
    
    .header__menu_title {
        margin: 0px;
        padding: 0px 0px 20px 0px;
        font-size: 40px;
        font-weight: 200;
        color: black;
        transition: 0.2s;
    }
    
    /* --------------------------------------------------------------------------- */
    /* --------------------------------------------------------------------------- */
    
    .hero {
        height: 900px;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: start;
        align-items: start;
        position: relative;
        background-image: none;
        background-image: url(https://images6.alphacoders.com/495/495067.jpg);
        background-repeat: no-repeat;
        background-size: auto;
        background-position: 15%;
    }
    
    .hero__bg_text {
        display: none;
    }
    
    /* ------------------------------ */
    
    .hero__box {
        position: absolute;
        left: 5%;
        width: 100%;
        height: fit-content;
    }
    
    .hero__box_title_1 {
        font-family: 'Proxima Nova Condensed';
        color: black;
        -webkit-text-stroke-width: 1px;
        -webkit-text-stroke-color: whitesmoke;
        line-height: 1;
        margin: 40px 0px 0px 0px;
        letter-spacing: 0em;
        font-size: 55px;
        font-weight: 800;
        text-transform: uppercase;
        opacity: 0.9;
    }
    
    .hero__box_title_2 {
        font-family: 'Proxima Nova Condensed';
        color: black;
        -webkit-text-stroke-width: 3px;
        -webkit-text-stroke-color: whitesmoke;
        line-height: 1;
        margin: 0px 0px 20px 0px;
        letter-spacing: 0em;
        font-size: 70px;
        font-weight: 800;
        text-transform: uppercase;
        opacity: 0.9;
    }
    
    .hero__box_text {
        font-family: 'Roboto';
        color: black;
        margin: 0px 0px 0px 0px;
        -webkit-text-stroke-width: 0.6px;
        -webkit-text-stroke-color: whitesmoke;
        letter-spacing: 0.1em;
        font-size: 40px;
        font-weight: 600;
    }
    
    .hero__bubble_1 {
        position: static;
        right: 0%;
        top: 0%;
        width: 300px;
        height: 240px;
        justify-self: center;
        margin: 0px auto;
        margin-left: 5%;
        margin-top: 350px;

    }
    
    .hero__bubble_2 {
        position: static;
        right: 0%;
        bottom: 0%;
        width: 300px;
        height: 240px;
        margin: 0px auto;
        margin-right: 5%;
        margin-top: 20px;
    }
    
    .hero__bubble_1_div1,.hero__bubble_2_div1 {
        display: none;
    }
    
    .hero__bubble_1_div2,.hero__bubble_2_div2 {
        opacity: 0.9;
        position: static;
        top: 0px;
        left: 0px;
        width: 300px;
        height: 240px;
        background-color: #3d95ae;
        border-top-right-radius: 20px;
        border-bottom-left-radius: 20px;
        border-bottom-right-radius: 40px;
        display: flex;
        flex-direction: column;
        padding-top: 40px;
        padding-left: 20px;
        box-sizing: border-box;
        transition: 0.3s;
        z-index: 9;
    }
    
    .hero__bubble_1_div_title,.hero__bubble_2_div_title {
        font-family: 'Proxima Nova Condensed';
        color: black;
        line-height: 1;
        margin: 0px 0px 20px 0px;
        letter-spacing: 0em;
        font-size: 32px;
        font-weight: 800;
        text-transform: uppercase;
        opacity: 0.9;
    }
    
    .hero__bubble_1_div_text,.hero__bubble_2_div_text {
        font-family: 'Roboto';
        color: black;
        margin: 0px 0px 0px 0px;
        letter-spacing: 0.1em;
        font-size: 16px;
        font-weight: 400;
    }
    
    .hero__bubble_1_div2 {
        background-color: #853dae;
    }

    .hero__bubble_2_div2 {
        border-top-left-radius: 20px;
        border-bottom-right-radius: 20px;
        border-bottom-left-radius: 40px;
        border-top-right-radius: 0px;
    }
    
    .hero__bubble_1_div1_text,.hero__bubble_2_div1_text {
        position: absolute;
        top: 30%;
        right: 40px;
        font-family: 'Proxima Nova Condensed';
        color: black;
        line-height: 1;
        letter-spacing: 0em;
        font-size: 24px;
        font-weight: 800;
        text-transform: uppercase;
    }
    
    .hero__bubble_1_div1_img,.hero__bubble_2_div1_img {
        user-select: none; 
        position: absolute;
        width: 220px;
        height: 180px;
    }
    
    /* --------------------------------------------------------------------------- */
    /* --------------------------------------------------------------------------- */
    
    .main {
        display: none;
    }
    
    /* --------------------------------------------------------------------------- */
    /* --------------------------------------------------------------------------- */
    
    .company {
        width: 100%;
        display: flex;
        flex-direction: column;
    }
    
    .company__renault,.company__dodge {
        width: 100%;
        height: 450px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        position: relative;
        background-color: white;
    }
    
    .company__chevrolet,.company__subaru {
        width: 100%;
        height: 450px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        position: relative;
        background-color: whitesmoke;
    }
    
    .company__bg_text.r {
        left: 0%;
        right: 0%;
        position: absolute;
    }
    
    .company__bg_text.c {
        left: 0%;
        right: 0%;
        position: absolute;
    }
    
    .company__bg_text.d {
        left: 0%;
        right: 0%;
        position: absolute;
    }
    
    .company__bg_text.s {
        left: 0%;
        right: 0%;
        position: absolute;
    }
    
    .company__bg_text_r,.company__bg_text_c,.company__bg_text_d,.company__bg_text_s {
        user-select: none; 
        text-transform: uppercase;
        -webkit-text-fill-color: transparent;
        -webkit-text-stroke-width: 3px;
        -webkit-text-stroke-color: transparent;
        font-family: 'Proxima Nova Condensed';
        font-stretch: 10px;
        margin: 30px 0px;
        letter-spacing: 0.0em;
        font-size: 3.5em;
        font-weight: 900;
        opacity: 0.8;
        text-align: center;
    }
    
    .company__bg_text_r {
        -webkit-text-stroke-color: rgb(215, 215, 215);
        letter-spacing: 0.25em;
    }
    .company__bg_text_c {
        -webkit-text-stroke-color: #CCC;
        letter-spacing: 0.1em;
    }
    .company__bg_text_d {
        -webkit-text-stroke-color: rgb(215, 215, 215);
        letter-spacing: 0.5em;
    }
    .company__bg_text_s {
        -webkit-text-stroke-color: #CCC;
        letter-spacing: 0.35em;
    }
    
    .company__bg_img_r {
        display: none;
    }
    
    .company__bg_img_c {
        display: none;
    }
    
    .company__bg_img_d {
        display: none;
    }
    
    .company__bg_img_s {
        display: none;
    }
    
    /* --------------------------------------------------------------------------- */
    /* --------------------------------------------------------------------------- */
    
    .cars {
        user-select: none;
        height: 250px;
        position: relative;
        padding: 0px 7%;
        box-sizing: border-box;
        padding-top: 50px;
        overflow-x: hidden;
    }
    
    .cars__item {
        opacity: 0.5;
        text-align: center;
        transition: 0.4s;
    }
    
    .cars__item.slick-center {
        opacity: 1;
    }
    
    .cars__item_img {
        -webkit-user-drag: none;
        -webkit-user-select: none;
        width: 260px;
        height: 140px;
    }
    
    .cars .slick-track {
        overflow: hidden;
        display: flex;
    }
    
    .cars .slick-arrow {
        top: 50%;
        margin: -17.5px 0px 0px 0px;
        z-index: 10;
        position: absolute;
        width: 35px;
        height: 35px;
        cursor: pointer;
        border: none;
        font-size: 0;
    }
    
    .cars .slick-arrow.slick-prev {
        left: 5%;
        background: url("https://cdn-icons-png.flaticon.com/512/1/1960.png") 0 0 / 100% no-repeat;
        rotate: -180deg;
    
    }
    
    .cars .slick-arrow.slick-next {
        right: 5%;
        background: url("https://cdn-icons-png.flaticon.com/512/1/1960.png") 0 0 / 100% no-repeat;
    }
    
    .cars .slick-dots {
        padding: 0px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    
    .cars .slick-dots li {
        width: 10px;
        height: 10px;
        list-style: none;
        margin: 0px 10px;
        user-select: none;
    }
    
    .cars .slick-dots button {
        font-size: 0px;
        width: 10px;
        height: 10px;
        border-radius: 50%;
        padding: 0px;
        margin: 0px;
        background-color: black;
        cursor: pointer;
        margin: 0px 5px;
        border: none;
        transition: 0.4s;
    }
    
    .cars .slick-dots li.slick-active button {
        background-color: transparent;
        border: 1px solid black;
    }
    
    /* --------------------------------------------------------------------------- */
    /* --------------------------------------------------------------------------- */
    
    .form {
        width: 100%;
        height: 700px;
        padding: 0px 0px 0px 0px;
        box-sizing: border-box;
        display: flex;
        flex-direction: column;
    }
    
    .form {
        background: linear-gradient(270deg, #144552, #212f45, #3e1f47, #272640);
        background-size: 800% 800%;
    
        -webkit-animation: AnimationName 7s ease infinite;
        -moz-animation: AnimationName 7s ease infinite;
        animation: AnimationName 7s ease infinite;
    }
    
    @-webkit-keyframes AnimationName {
        0%{background-position:90% 0%}
        50%{background-position:11% 100%}
        100%{background-position:90% 0%}
    }
    @-moz-keyframes AnimationName {
        0%{background-position:90% 0%}
        50%{background-position:11% 100%}
        100%{background-position:90% 0%}
    }
    @keyframes AnimationName {
        0%{background-position:90% 0%}
        50%{background-position:11% 100%}
        100%{background-position:90% 0%}
    }
    
    /* ------------------------------ */
    
    .form__box {
        width: 100%;
        height: 55%;
        padding: 40px 5% 0px 5%;
        box-sizing: border-box;
    }
    
    .form__box_title {
        font-family: 'Montserrat';
        color: whitesmoke;
        margin: 0px 0px 30px 0px;
        letter-spacing: 0.4em;
        font-size: 30px;
        font-weight: 200;
    }
    
    .form__box_sub_title {
        font-family: 'Roboto';
        color: whitesmoke;
        margin: 0px;
        letter-spacing: 0.2em;
        width: 24em;
        width: 100%;
        font-size: 18px;
        font-weight: 200;
        opacity: 0.8;
    }
    
    .form__box_input {
        user-select: none; 
        padding-top: 50px;
        width: 100%;
    }
    
    .form__box_input_box {
        width: 100%;
        margin-bottom: 40px;
        display: grid;
        grid-template-columns: repeat(2,1fr);
        grid-template-rows: repeat(2,1fr);
        row-gap: 30px;
    }
    
    .form__box_input_first_name,.form__box_input_second_name,.form__box_input_phone,.form__box_input_select {
        font-family: 'Montserrat';
        font-size: 16px;
        width: 140px;
        border-radius: 5px;
        border: 0px;
        background: rgba(255, 255, 255, 0.8);
    }
    
    .form__box_input_select:hover {
        cursor: pointer;
    }
    
    .form__box_input_submit {
        font-family: 'Montserrat';
        font-size: 18px;
        width: 240px;
        border-radius: 5px;
        border: 0px;
    }
    
    .form__box_input_submit {
        width: 300px;
        color: #CCC;
        border: 3px solid #195769;
        background-color: rgba(0, 0, 0, 0.1);
        background-image: linear-gradient(30deg, #195769 80%, transparent 50%);
        background-size: 500px;
        background-repeat: no-repeat;
        background-position: 0%;
        -webkit-transition: 0.4s ease-in-out;
        transition: 0.4s ease-in-out;
    }
    .form__box_input_submit:hover {
        background-position: 0%;
        border-color: #195769;
        color: #CCC;
        cursor: pointer;
    }
    
    /* ------------------------------ */
    
    .form__slider{
        width: 100%;
        height: 45%;
        padding: 40px 2%;
        box-sizing: border-box;
        background-color: black;
        background: rgba(0, 0, 0, 0.4);
        position: relative;
        min-width: 0;
    }
    
    .form__slider .slick-list {
        height: 100%;
    }
    
    .form__slider .slick-track {
        height: 100%;
        overflow: hidden;
        display: flex;
    }
    
    .form__slider_item {
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        min-width: 0;
    }
    
    .form__slider_item_logo {
        user-select: none;
        font-family: 'Proxima Nova Condensed';
        color: whitesmoke;
        line-height: 1;
        letter-spacing: 0em;
        font-size: 80px;
        font-weight: 800;
        text-transform: uppercase;
        margin: 0px;
        text-align: center;
    }
    
    .form__slider .slick-dots {
        width: 100%;
        padding: 0px;
        margin: 0px;
        display: flex;
        align-items: center;
        justify-content: center;
        position: absolute;
        left: 0px;
        bottom: 30px;
    }
    
    .form__slider .slick-dots li {
        list-style: none;
    }
    
    .form__slider .slick-dots button {
        font-size: 0px;
        width: 10px;
        height: 10px;
        border-radius: 50%;
        padding: 0px;
        background-color: whitesmoke;
        cursor: pointer;
        margin: 0px 5px;
        border: none;
        transition: 0.2s;
    }
    
    .form__slider .slick-dots li.slick-active button {
        background-color: transparent;
        border: 1px solid whitesmoke;
    }
    
    /* --------------------------------------------------------------------------- */
    /* --------------------------------------------------------------------------- */
    
    .footer {
        width: 100%;
        height: fit-content;
        padding: 0px 5% 0px 5%;
        box-sizing: border-box;
        display: flex;
        flex-direction: column;
        font-family: 'Montserrat';
    }
    
    /* ------------------------------ */
    
    .footer__logo {
        user-select: none; 
        font-weight: bold;
        width: 100%;
        cursor: default;
        text-align: center;
        font-size: 40px;
        margin: 0px 0px 10px 0px;
        padding-top: 10px;
    }
    
    .footer__url {
        width: 100%;
        position: static;
        right: 0%;
    }
    
    .footer__url_list {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: start;
        align-items: center;
        padding: 0px;
        list-style: none;
    }

    .footer__url_list li {
        margin: 10px 0px;
    }
    
    .footer__url_list_item {
        font-size: 20px;
        font-weight: 400;
        text-decoration: none;
        transition: 0.2s;
    }
    
    .footer__url_list_item:hover {
        color: chocolate;
        transition: 0.1s;
    }

    .footer__logo_line {
        display: block;
        width: 100%;
        height: 1px;
        background-color: black;
    }
}   