@import url('https://fonts.cdnfonts.com/css/proxima-nova-condensed');
body {
    margin: 0px;
}

/* --------------------------------------------------------------------------- */
/* --------------------------------------------------------------------------- */

.header {
    width: 100%;
    height: 100px;
    padding: 0px 5% 0px 5%;
    background: rgb(39,38,64);
    background: linear-gradient(180deg, rgba(39,38,64,1) 0%, rgba(33,47,69,1) 100%);
    box-sizing: border-box;
    display: flex;
    align-items: center;
    font-family: 'Montserrat';
}

/* ------------------------------ */

.header__logo {
    user-select: none; 
    font-weight: bold;
    color: whitesmoke;
    cursor: default;
    font-size: 40px;
    margin: 0px;
}


.header__url {
    width: 500px;
    text-decoration: none;
    display: flex;
    justify-content: space-between;
    margin: auto;
}

.header__url_a {
    font-size: 20px;
    font-weight: 400;
    color: whitesmoke;
    text-decoration: none;
    transition: 0.2s;
}

.header__url_a:hover {
    color: chocolate;
    transition: 0.1s;
}

/* ------------------------------ */

.header__icon_box {
    width: 100px;
    height: 100%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: end;
}

.header__icon {
    user-select: none; 
    width: 40px;
    height: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 9px 6px;
    border: 1px solid rgb(215, 215, 215, 0.4);
    border-radius: 3px;
    cursor: pointer;
    transition: 0.2s;
}

.header__icon:hover {
    border: 1px solid rgba(0, 160, 165, 0.4);
}

.header__icon_line {
    width: 100%;
    height: 4px;
    background-color: whitesmoke;
    border-radius: 3px;
}

.header__icon.active {
    justify-content: center;
    align-items: center;
    position: relative;
}

.header__icon.active :nth-child(2) {
    display: none;
}

.header__icon.active :nth-child(1) {
    width: 90%;
    rotate: -45deg;
    position: absolute;
}

.header__icon.active :nth-child(3) {
    width: 90%;
    rotate: 45deg;
    position: absolute;
}

.header__icon:hover .header__icon_line {
    background-color: rgba(0, 160, 165);
    transition: 0.1s;
}

/* ------------------------------ */

.header__nav_box {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    position: absolute;
    top: 100px;
    z-index: 99;
    display: flex;
    justify-content: end;
    transform: translateX(200vw);
    transition: 0.2s;
}

.header__nav_box.active {
    transform: translateX(0%);
    right: 0px;
}

.header__nav {
    width: 350px;
    height: 500px;
    padding-top: 30px;
    box-sizing: border-box;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header__nav_line {
    width: 100%;
    height: 1px;
    background-color: black;
    margin: 20px 0px;
}

.header__nav_logo {
    user-select: none; 
    font-weight: bold;
    color: black;
    cursor: default;
    font-size: 40px;
    margin: 20px 0px 0px 0px;
}

.header__nav_a {
    width: 100%;
    padding: 10px 0px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    letter-spacing: 0.2em;
    color: black;
    transition: 0.15s;
}

.header__nav_a:hover {
    background-color: black;
    color: whitesmoke;
}

.header__nav_title {
    margin: 0px;
    padding: 0px 0px 20px 0px;
    font-size: 40px;
    font-weight: 200;
    color: black;
    transition: 0.2s;
}

/* --------------------------------------------------------------------------- */
/* --------------------------------------------------------------------------- */

.starter {
    height: 700px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    
}

.starter__bg_img {
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0.8;
}

.starter__bg_text {
    position: absolute;
    user-select: none; 
    margin-left: 0.16em;
    text-transform: uppercase;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke-width: 3px;
    -webkit-text-stroke-color: whitesmoke;
    font-family: 'Proxima Nova Condensed';
    letter-spacing: 0.2em;
    font-size: 24em;
    font-weight: 900;
    opacity: 0.8;
}

/* ------------------------------ */

.starter__box {
    position: absolute;
    left: 5%;
    width: fit-content;
    height: 100%;
}

.starter__box_title_1 {
    font-family: 'Proxima Nova Condensed';
    color: black;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: whitesmoke;
    line-height: 1;
    margin: 160px 0px 0px 0px;
    letter-spacing: 0em;
    font-size: 50px;
    font-weight: 800;
    text-transform: uppercase;
    opacity: 0.9;
}

.starter__box_title_2 {
    font-family: 'Proxima Nova Condensed';
    color: black;
    -webkit-text-stroke-width: 3px;
    -webkit-text-stroke-color: whitesmoke;
    line-height: 1;
    margin: 0px 0px 20px 0px;
    letter-spacing: 0em;
    font-size: 130px;
    font-weight: 800;
    text-transform: uppercase;
    opacity: 0.9;
}

.starter__box_text {
    font-family: 'Roboto';
    color: black;
    margin: 0px 0px 0px 0px;
    letter-spacing: 0.1em;
    font-size: 32px;
    font-weight: 600;
}

.starter__cont1 {
    position: absolute;
    right: 7%;
    top: 10%;
    width: 340px;
    height: 280px;
}

.starter__cont2 {
    position: absolute;
    right: 14%;
    bottom: 10%;
    width: 340px;
    height: 280px;
}

.starter__cont1_div1,.starter__cont2_div1 {
    position: relative;
    width: 220px;
    height: 180px;
}

.starter__cont1_div2,.starter__cont2_div2 {
    opacity: 0;
    position: absolute;
    top: -6px;
    left: -130px;
    width: 440px;
    height: 240px;
    background-color: #3d95ae;
    border-left: 40px solid transparent;
    border-right: 40px solid transparent;
    border-top: 20px solid transparent;
    border-bottom: 20px solid transparent;
    display: flex;
    flex-direction: column;
    padding-top: 20px;
    padding-left: 20px;
    box-sizing: border-box;
    transition: 0.3s;
}

.starter__cont_div_title {
    font-family: 'Proxima Nova Condensed';
    color: black;
    line-height: 1;
    margin: 0px 0px 20px 0px;
    letter-spacing: 0em;
    font-size: 32px;
    font-weight: 800;
    text-transform: uppercase;
    opacity: 0.9;
}

.starter__cont_div_text {
    font-family: 'Roboto';
    color: black;
    margin: 0px 0px 0px 0px;
    letter-spacing: 0.1em;
    font-size: 16px;
    font-weight: 600;
}

.starter__cont1_div2 {
    background-color: #853dae;
}

.starter__cont1_div2:hover,.starter__cont2_div2:hover {
    top: 0px;
    opacity: 1;
}

.starter__cont1_div1_text,.starter__cont2_div1_text {
    position: absolute;
    top: 30%;
    right: 0px;
    font-family: 'Proxima Nova Condensed';
    color: black;
    line-height: 1;
    letter-spacing: 0em;
    font-size: 24px;
    font-weight: 800;
    text-transform: uppercase;
}

.starter__cont1_div1_img,.starter__cont2_div1_img {
    user-select: none; 
    position: absolute;
    width: 100%;
    height: 100%;
}

/* --------------------------------------------------------------------------- */
/* --------------------------------------------------------------------------- */

.main {
    height: 600px;
    width: 100%;
    padding: 0px 5% 0px 0px;
    box-sizing: border-box;
    display: flex;
    background: rgb(215,215,215);
    background: linear-gradient(90deg, rgb(215, 215, 215) 0%, rgba(255,255,255,1) 50%, rgb(215, 215, 215) 100%);
}

/* ------------------------------ */

.main__box {
    width: 50%;
    height: 100%;
    padding: 40px 5% 0px 5%;
    box-sizing: border-box;
}

.main__box_1,.main__box_2,.main__box_3,.main__box_4,.main__box_5,.main__box_6 {
    width: 577px;
    height: 560px;
    position: relative;
}

.main__box_n_title {
    font-family: 'Montserrat';
    color: black;
    margin: 0px 0px 0px 0px;
    letter-spacing: 0.1em;
    font-size: 60px;
    font-weight: 900;
}

.main__box_n_sub_title {
    font-family: 'Montserrat';
    color: black;
    margin: 0px 0px 30px 0px;
    letter-spacing: 0.1em;
    font-size: 40px;
    font-weight: 800;
}

.main__box_n_text {
    width: 500px;
    font-family: 'Roboto';
    color: black;
    margin: 0px 0px 30px 0px;
    letter-spacing: 0.1em;
    font-size: 20px;
    font-weight: 400;
}

.main__box_n_link {
    font-family: 'Montserrat';
    color: rgba(0, 0, 0, 0.6);
    margin: 0px 0px 0px 0px;
    letter-spacing: 0.1em;
    font-size: 16px;
    font-weight: 400;
    text-decoration: none;
    position: absolute;
    bottom: 100px;
    right: 0px;
    transition: 0.2s;
}

.main__box_n_link:hover {
    color: rgba(0, 160, 165, 0.8);
    transition: 0.2s;
}

.main__box_n_bg_img {
    width: 400;
    height: 200;
    rotate: -20deg;
    position: absolute;
    right: 20px;
    top: 100px;
}

/* ------------------------------ */

.main__carousel {
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.main__carousel_scene {
    border: 1px solid #CCC;
    border-radius: 2px;
    position: relative;
    width: 290px;
    height: 190px;
    perspective: 1000px;
}

.main__carousel_btns {
    display: flex;
    flex-direction: column;
}

.main__carousel_btns_box {
    user-select: none; 
    position: relative;
    margin-bottom: 30px;
    width: 120px;
}

.main__carousel_btns_box .previous-button {
    position: absolute;
    left: 0px;
    padding: 7px;
    cursor: pointer;
    border: 1px solid rgba(0, 0, 0, 0.4);
    border-radius: 3px;
}

.main__carousel_btns_box .next-button {
    position: absolute;
    right: 0px;
    padding: 7px;
    cursor: pointer;
    border: 1px solid rgba(0, 0, 0, 0.4);
    border-radius: 3px;
}

.main__carousel_btns_text {
    user-select: none; 
    margin-top: 20px;
    font-family: 'Montserrat';
    letter-spacing: 0.4em;
    opacity: 0.4;
}

.carousel {
    user-select: none; 
    width: 100%;
    height: 100%;
    position: absolute;
    transform: translateZ(-288px);
    transform-style: preserve-3d;
    transition: transform 0.9s;
}

.carousel__cell {
    font-family: 'Montserrat';
    position: absolute;
    width: 270px;
    height: 170px;
    left: 10px;
    top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    line-height: 116px;
    font-size: 80px;
    font-weight: bold;
    color: whitesmoke;
    text-align: center;
    background: rgb(20,69,82);
    background: linear-gradient(90deg, rgba(20,69,82,0.7) 0%, rgba(33,47,69,0.7) 30%, rgba(62,31,71,0.7) 70%, rgba(39,38,64,0.7) 100%)
}
.carousel__cell:nth-child(1) { transform: rotateY(0deg) translateZ(268px); }
.carousel__cell:nth-child(2) { transform: rotateY(60deg) translateZ(268px); }
.carousel__cell:nth-child(3) { transform: rotateY(120deg) translateZ(268px); }
.carousel__cell:nth-child(4) { transform: rotateY(180deg) translateZ(268px); }
.carousel__cell:nth-child(5) { transform: rotateY(240deg) translateZ(268px); }
.carousel__cell:nth-child(6) { transform: rotateY(300deg) translateZ(268px); }


/* --------------------------------------------------------------------------- */
/* --------------------------------------------------------------------------- */

.company {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.company__renault,.company__dodge {
    width: 100%;
    height: 500px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    background-color: white;
}

.company__chevrolet,.company__subaru {
    width: 100%;
    height: 500px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    background-color: whitesmoke;
}

.company__bg_text {
    position: absolute;
    user-select: none; 
    text-transform: uppercase;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke-width: 3px;
    -webkit-text-stroke-color: transparent;
    font-family: 'Proxima Nova Condensed';
    letter-spacing: 0.0em;
    font-size: 14em;
    font-weight: 900;
    opacity: 0.8;
}

.company__bg_text.r {
    -webkit-text-stroke-color: rgb(215, 215, 215);
    letter-spacing: 0.25em;
}
.company__bg_text.c {
    -webkit-text-stroke-color: #CCC;
    letter-spacing: 0.1em;
}
.company__bg_text.d {
    -webkit-text-stroke-color: rgb(215, 215, 215);
    letter-spacing: 0.5em;
}
.company__bg_text.s {
    -webkit-text-stroke-color: #CCC;
    letter-spacing: 0.35em;
}

/* --------------------------------------------------------------------------- */
/* --------------------------------------------------------------------------- */

.form {
    width: 100%;
    height: 500px;
    padding: 0px 0px 0px 0px;
    box-sizing: border-box;
    display: flex;
}

.form {
    background: linear-gradient(270deg, #144552, #212f45, #3e1f47, #272640);
    background-size: 800% 800%;

    -webkit-animation: AnimationName 7s ease infinite;
    -moz-animation: AnimationName 7s ease infinite;
    animation: AnimationName 7s ease infinite;
}

@-webkit-keyframes AnimationName {
    0%{background-position:90% 0%}
    50%{background-position:11% 100%}
    100%{background-position:90% 0%}
}
@-moz-keyframes AnimationName {
    0%{background-position:90% 0%}
    50%{background-position:11% 100%}
    100%{background-position:90% 0%}
}
@keyframes AnimationName {
    0%{background-position:90% 0%}
    50%{background-position:11% 100%}
    100%{background-position:90% 0%}
}

/* ------------------------------ */

.form__box1{
    width: 50%;
    height: 100%;
    padding: 40px 5% 0px 5%;
    box-sizing: border-box;
}

.form__title {
    font-family: 'Montserrat';
    color: whitesmoke;
    margin: 0px 0px 30px 0px;
    letter-spacing: 0.4em;
    font-size: 48px;
    font-weight: 200;
}

.form__sub_title {
    font-family: 'Roboto';
    color: whitesmoke;
    margin: 0px;
    letter-spacing: 0.2em;
    width: 24em;
    font-size: 20px;
    font-weight: 200;
    opacity: 0.8;
}

.form__input {
    user-select: none; 
    padding-top: 50px;
    width: 100%;
}

.form__input_box {
    width: 100%;
    margin-bottom: 80px;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: repeat(2,1fr);
    row-gap: 30px;
}

.form__input_first_name,.form__input_second_name,.form__input_phone,.form__input_select {
    font-family: 'Montserrat';
    font-size: 18px;
    width: 180px;
    border-radius: 5px;
    border: 0px;
    background: rgba(255, 255, 255, 0.8);
}

.form__input_select:hover {
    cursor: pointer;
}

.form__input_submit {
    font-family: 'Montserrat';
    font-size: 28px;
    width: 340px;
    border-radius: 5px;
    border: 0px;
}

.form__input_submit {
    width: 300px;
    color: #CCC;
    border: 3px solid #195769;
    background-color: rgba(0, 0, 0, 0.1);
    background-image: linear-gradient(30deg, #195769 80%, transparent 50%);
    background-size: 500px;
    background-repeat: no-repeat;
    background-position: 0%;
    -webkit-transition: 0.4s ease-in-out;
    transition: 0.4s ease-in-out;
}
.form__input_submit:hover {
    background-position: 300%;
    border-color: #307a8e;
    color: #307a8e;
    cursor: pointer;
}

/* ------------------------------ */

.form__box2{
    width: 50%;
    height: 100%;
    padding: 40px 5% 0px 5%;
    box-sizing: border-box;
    background-color: black;
    background: rgba(0, 0, 0, 0.4);
}

/* --------------------------------------------------------------------------- */
/* --------------------------------------------------------------------------- */

.footer {
    width: 100%;
    height: 100px;
    padding: 0px 5% 0px 5%;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    font-family: 'Montserrat';
}

/* ------------------------------ */

.footer__logo {
    user-select: none; 
    font-weight: bold;
    width: 20%;
    cursor: default;
    font-size: 40px;
    margin: 0px;
}

.footer__url {
    width: 70%;
    text-decoration: none;
    display: flex;
    justify-content: space-between;
    position: absolute;
    right: 5%;
}

.footer__url_a {
    font-size: 20px;
    font-weight: 400;
    text-decoration: none;
    transition: 0.2s;
}

.footer__url_a:hover {
    color: chocolate;
    transition: 0.1s;
}